.bundle/
Gemfile.lock
/.yardoc/
/.ruby-version
/tmp/
/vendor/bundle
/log/
/node_modules
/config/*.yml
/config/settings.local.yml
/config/settings/*.yml
/config/settings/*.local.yml
/config/environments/*.local.yml
/public/assets/
/public/doc/
/public/uploads/course/
/public/uploads/csv/
/public/uploads/tmp/
/public/uploads/user_image/mount_url/
