<!-- tooltipメッセージ -->
<a href="#" class="label label-default pull-right" data-toggle="tooltip" data-html="true" data-placement="right" title='<%= t("common.COMMON_FILE_UPLOAD_HELP") %>' style="margin-left:20px;margin-top:1px;">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
