##### 設問・QUESTION #####
#設問パターンコード
QUESTION_PATTERNCD_PARENTQUESTION: 0
QUESTION_PATTERNCD_RADIO: 1
QUESTION_PATTERNCD_ONELIST: 2
QUESTION_PATTERNCD_CHECK: 3
QUESTION_PATTERNCD_ESSAY: 4
QUESTION_PATTERNCD_ASSIGNMENTESSAY: 5
#シャッフルフラグ
QUESTION_SHUFFLEFLG_OFF: 0
QUESTION_SHUFFLEFLG_ON: 1
#完答コード
QUESTION_ANSWERINFULLCD_NOTANSWERINFULL: 0
QUESTION_ANSWERINFULLCD_ANSWERINFULL: 1
#順不同コード
QUESTION_RANDOMCD_NOTRANDOM: 0
QUESTION_RANDOMCD_RANDOM: 1
#必須フラグ
QUESTION_MUSTFLG_OPTIONAL: 0
QUESTION_MUSTFLG_MUST: 1

##### 選択肢・SELECT ######
#正誤フラグ
SELECT_SELECTCORRECTFLG_WRONG: 0
SELECT_SELECTCORRECTFLG_CORRECT: 1
#マークフラグ
SELECT_SELECTMARKFLG_OFF: 0
SELECT_SELECTMARKFLG_ON: 1
#テキスト行数
SELECT_TEXTROW_NOTEXT: 0
SELECT_TEXTROW_TEXT: 1

##### 科目情報・COURSE #####
#学期コード
COURSE_SEASONCD_INDEFINITE: 0
COURSE_SEASONCD_SPRING: 1
COURSE_SEASONCD_SUMMER: 2
COURSE_SEASONCD_AUTUMN: 3
COURSE_SEASONCD_WINTER: 4
COURSE_SEASONCD_FIRSTTERM: 5
COURSE_SEASONCD_LASTTERM: 6
COURSE_SEASONCD_CONCENTRATION: 7
COURSE_SEASONCD_OVERYEAR: 8
COURSE_SEASONCD_OTHER: 9
#曜日コード
COURSE_DAYCD_INDEFINITE: 0
COURSE_DAYCD_MON: 1
COURSE_DAYCD_TUE: 2
COURSE_DAYCD_WED: 3
COURSE_DAYCD_THU: 4
COURSE_DAYCD_FRI: 5
COURSE_DAYCD_SAT: 6
COURSE_DAYCD_SUN: 7
#時限コード
COURSE_HOURCD_INDEFINITE: 0
COURSE_HOURCD_FIRST: 1
COURSE_HOURCD_SECOND: 2
COURSE_HOURCD_THIRD: 3
COURSE_HOURCD_FOURTH: 4
COURSE_HOURCD_FIFTH: 5
COURSE_HOURCD_SIXTH: 6
COURSE_HOURCD_SEVENTH: 7
COURSE_HOURCD_EIGHTH: 8
#科目の利用（間接利用フラグ）
COURSE_INDIRECTUSEFLG_DIRECT: 0
COURSE_INDIRECTUSEFLG_INDIRECT: 1
#有効フラグ
COURSE_TERMFLG_INVALIDITY: 0
COURSE_TERMFLG_EFFECTIVE: 1
#学習コースウェアフラグ
COURSE_SELFSTUDY_INVALIDITY: 0
COURSE_SELFSTUDY_EFFECTIVE: 1
#公開フラグ
COURSE_OPENCOURSEFLG_PRIVATE: 0
COURSE_OPENCOURSEFLG_PUBLIC: 1
#掲示板使用コード
COURSE_BBSCD_NONE: 0
COURSE_BBSCD_NORMAL: 1
COURSE_BBSCD_THREAD: 2
#チャット使用コード
COURSE_CHATCD_NONE: 0
COURSE_CHATCD_NORMAL: 1
#お知らせ使用コード
COURSE_ANNOUNCEMENTCD_NONE: 0
COURSE_ANNOUNCEMENTCD_NORMAL: 1
#FAQ使用コード
COURSE_FAQCD_NONE: 0
COURSE_FAQCD_NORMAL: 1
#公開掲示板フラグ
COURSE_OPENCOURSEBBSFLG_OFF: 0
COURSE_OPENCOURSEBBSFLG_ON: 1
#公開チャットフラグ
COURSE_OPENCOURSECHATFLG_OFF: 0
COURSE_OPENCOURSECHATFLG_ON: 1
#公開お知らせフラグ
COURSE_OPENCOURSEANNOUNCEMENTFLG_OFF: 0
COURSE_OPENCOURSEANNOUNCEMENTFLG_ON: 1
#公開FAQフラグ
COURSE_OPENCOURSEFAQFLG_OFF: 0
COURSE_OPENCOURSEFAQFLG_ON: 1

##### ユーザ情報・USR #####
#性別コード
USR_SEXCD_UNKOWN: 0
USR_SEXCD_MALE: 1
USR_SEXCD_FEMALE: 2
#権限コード
USR_AUTHCD_ADMINISTRATOR: 1
USR_AUTHCD_INSTRUCTOR: 2
USR_AUTHCD_STUDENT: 3
#移動コード
USR_MOVECD_INDEFINITE: 0
USR_MOVECD_ABSENCEMOVECD: 4
USR_MOVECD_LEAVEMOVECD: 5
USR_MOVECD_EXPELMOVECD: 6
USR_MOVECD_MOVEOUTMOVECD: 7
USR_MOVECD_GRADUATIONMOVECD: 8
#情報表示コード
USR_INFORMATIONCD_NONE: 0
USR_INFORMATIONCD_POPUP: 1
#有効フラグ
USR_TERMFLG_INVALIDITY: 0
USR_TERMFLG_EFFECTIVE: 1
#MyFolderボタンフラグ
USR_MYFOLDERBUTTONFLG_OFF: 0
USR_MYFOLDERBUTTONFLG_ON: 1

##### 全体お知らせ情報・GENERAL_INFO #####
#入力タイプコード
GENERALINFO_TYPECD_ALLUSR: 1
GENERALINFO_TYPECD_INSTRUCTOR: 2
GENERALINFO_TYPECD_NONDISPLAY: 3

##### システムログ・SYSTEM-LOG ######
#認証結果フラグ
SYSTEMLOG_RESULTFLG_FAILURE: 0
SYSTEMLOG_RESULTFLG_SUCCESS: 1

##### お知らせ情報・ANNOUNCEMENT #####
#メール送信フラグ
ANNOUNCEMENT_MAILFLG_UNTRANSMISSION: 0
ANNOUNCEMENT_MAILFLG_TRANSMITTED: 1
#お知らせコード
ANNOUNCEMENT_ANNOUNCEMENTCD_MAIL: 0
ANNOUNCEMENT_ANNOUNCEMENTCD_INFO: 1

##### FAQ回答情報・FAQ_ANSWER #####
#公開フラグ
FAQ_OPENFLG_PRIVATE: 0
FAQ_OPENFLG_PUBLIC: 1
#返信状況フラグ
FAQ_RESPONSEFLG_UNREPLY: 0
FAQ_RESPONSEFLG_REPLIED: 1

##### 出席管理情報・ATTENDANCE #####
#出席確認状況コード
ATTENDANCE_STATUSCD_NOTCOLLECTING: 0
ATTENDANCE_STATUSCD_ATTENDANCE: 1
ATTENDANCE_STATUSCD_LATE: 2

##### 出席確認個別情報・ATTENDANCE_INFO #####
#出席情報コード
ATTENDANCEINFO_ATTENDANCEDATACD_UNREGISTRATION: 0
ATTENDANCEINFO_ATTENDANCEDATACD_ATTENDANCE: 1
ATTENDANCEINFO_ATTENDANCEDATACD_LATE: 2
ATTENDANCEINFO_ATTENDANCEDATACD_ABSENT: 3

##### ページ情報・GENERIC_PAGE #####
#自己採点フラグ
GENERICPAGE_SELFFLG_NONE: 0
GENERICPAGE_SELFFLG_SELF: 1
GENERICPAGE_SELFFLG_MUTUAL: 2
GENERICPAGE_SELFFLG_MUTUAL2: 3
#テストタイプコード
GENERICPAGE_TYPECD_MATERIALCODE: 1
GENERICPAGE_TYPECD_URLCODE: 2
GENERICPAGE_TYPECD_COMPOUNDCODE: 3
GENERICPAGE_TYPECD_MULTIPLEFIBCODE: 4
GENERICPAGE_TYPECD_ASSIGNMENTESSAYCODE: 5
GENERICPAGE_TYPECD_QUESTIONNAIRECODE: 6
GENERICPAGE_TYPECD_EVALUATIONLISTCODE: 9
GENERICPAGE_TYPECD_SAKAIFORUMCODE: 10
GENERICPAGE_TYPECD_SAKAIWIKICODE: 11
GENERICPAGE_TYPECD_SAKAILIBRARYCODE: 12
GENERICPAGE_TYPECD_SAKAICOURSEWARECODE: 13
GENERICPAGE_TYPECD_SAKAIRESOURCECODE: 14
#回答編集許可フラグ
GENERICPAGE_EDITFLG_OFF: 0
GENERICPAGE_EDITFLG_ON: 1
#匿名フラグ
GENERICPAGE_ANONYMOUSFLG_OFF: 0
GENERICPAGE_ANONYNOUSFLG_ON: 1
#期間外提出許可フラグ
GENERICPAGE_TIMELAGFLG_INTIME: 0
GENERICPAGE_TIMELAGFLG_AFTERTIME: 1
#受付終了時間前採点可能フラグ
GENERICPAGE_PREGRADINGENABLEFLG_OFF: 0
GENERICPAGE_PREGRADINGENABLEFLG_ON: 1
#レポート返却方法コード
GENERICPAGE_RETURN_METHOD_NOT_RETURN: 0
GENERICPAGE_RETURN_METHOD_SIMULTANEOUSLY: 1
GENERICPAGE_RETURN_METHOD_INDIVIDUALLY: 2
#学生に評点を通知可能フラグ
GENERICPAGE_SCOREOPENFLG_OFF: 0
GENERICPAGE_SCOREOPENFLG_ON: 1

##### レポートコメント情報・ASSIGNMENT_ESSAY_COMMENT　#####
#メールフラグ
ASSIGNMENTESSAYMAILCOMMENT_MAILFLG_OFF: 0
ASSIGNMENTESSAYMAILCOMMENT_MAILFLG_ON: 1
ASSIGNMENTESSAYMAILCOMMENT_MAILFLG_SENDED: 2
ASSIGNMENTESSAYMAILCOMMENT_MAILFLG_SENDED_ON: 3
ASSIGNMENTESSAYMAILCOMMENT_MAILFLG_RESENDED: 4
ASSIGNMENTESSAYMAILCOMMENT_MAILFLG_RESENDED_ON: 5
#レポート返却フラグ
ASSIGNMENTESSAYMAILCOMMENT_RETURNFLG_NOTRETURN: 0
ASSIGNMENTESSAYMAILCOMMENT_RETURNFLG_RETURNED: 1

##### バックグランドレポートメール情報・ASSIGNMENT_ESSAY_MAIL_CRON　#####
#メール送信終了フラグ
ASSIGNMENTESSAYMAILCRON_MAILFINISHFLG_UNTRANSMISSION: 0
ASSIGNMENTESSAYMAILCRON_MAILFINISHFLG_TRANSMITTED: 1

##### テスト/レポート結果情報・ANSWER_SCORE #####
#ステータスコード
ANSWERSCORE_PASSCD_UNSUBMITTING: 0
ANSWERSCORE_PASSCD_SUBMITTED: 1
#一時保存時の得点
ANSWERSCORE_TMP_SAVED_SCORE: -1

##### コース情報・SELF_STUDY #####
#表示フラグ
SELFSTUDY_DISPLAYFLG_OFF: 0
SELFSTUDY_DIDPLAYFLG_ON: 1

#未読表示フラグ
UNREAD_DISPLAYFLG_ON: 0
UNREAD_DISPLAYFLG_OFF: 1

##### DBのフラグ等 #####
#ユーザ権限(廃止：DBによる設定管理に変更済み)
ADMINISTRATOR_CODE: 1
INSTRUCTOR_CODE: 2
STUDENT_CODE: 3

#ページのタイプコード(廃止：DBによる設定管理に変更済み)
MATERIAL_CODE: 1
URL_CODE: 2
COMPOUND_CODE: 3
MULTIPLE_FIB_CODE: 4
ASSIGNMENT_ESSAY_CODE: 5
QUESTIONNAIRE_CODE: 6

#表示言語(戻し完了)
#対応する言語を増やす場合はここにも追加すること
JAPANESE: 0
ENGLISH: 1
CHINESE: 2

#学期コード(廃止：DBによる設定管理に変更済み)
SEASONCD1: 1
SEASONCD2: 2
SEASONCD3: 3
SEASONCD4: 4
SEASONCD5: 5
SEASONCD6: 6
SEASONCD7: 7
SEASONCD8: 8
SEASONCD9: 9

#曜日コード(廃止：DBによる設定管理に変更済み)
DAYCD0: 0
DAYCD1: 1
DAYCD2: 2
DAYCD3: 3
DAYCD4: 4
DAYCD5: 5
DAYCD6: 6
DAYCD7: 7

#時限コード(廃止：DBによる設定管理に変更済み)
HOURCD0: 0
HOURCD1: 1
HOURCD2: 2
HOURCD3: 3
HOURCD4: 4
HOURCD5: 5
HOURCD6: 6
HOURCD7: 7
HOURCD8: 8

#設問パターンコード(廃止：DBによる設定管理に変更済み)
PATTERN_CD0: 0
PATTERN_CD1: 1
PATTERN_CD2: 2
PATTERN_CD3: 3
PATTERN_CD4: 4
PATTERN_CD5: 5



##### それ以外の定数等 #####

#授業回数の最大値(ユーザが編集する定数に置き換え済み)
MAXCLASSSESSIONCOUNT: 50
#グループフォルダ数の最大値(ユーザが編集する定数に置き換え済み)
MAXGROUPFOLDERCOUNT: 50

#リミットとオフセット(戻し完了)
DEFAULT_LIMIT: 200
LIMIT50: 50
LIMIT25: 25
DEFAULT_OFFSET: 0
MINPASSWORDLENGTH: 6
MAXPASSWORDLENGTH: 256

#newの表示期間(３日間＝1000*60*60*24*3ミリ秒)(ユーザが編集する定数に置き換え済み)
NEWCHECK_TIME: 259200000

#TopページでFAQ(やお知らせ)を表示する際の表示の上限文字数(戻し完了)
DISPLAY_LIMIT: 20

#Topページで表示する公開FAQの数(戻し完了)
OPENFAQ_COUNT: 5

#科目フォルダを作成する際のフォルダ名に用いる科目IDの桁数(未使用)
FIGURE_COUNT: 8

#####FAQ#####

#未回答をあらわすフラグ(廃止：DBによる設定管理に変更済み)
NOTANSWER_FLG: 0
#回答済みをあらわすフラグ(廃止：DBによる設定管理に変更済み)
ANSWER_FLG: 1

#非公開をあらわすフラグ(廃止：DBによる設定管理に変更済み)
CLOSED_FLG: 0
#公開をあらわすフラグ(廃止：DBによる設定管理に変更済み)
OPEN_FLG: 1


#####FAQ#####

#####出席#####
#statusCd(廃止：DBによる設定管理に変更済み)
STATUSCD_NOTCOLLECTING: 0
STATUSCD_ATTENDANCE: 1
STATUSCD_LATE: 2
#attendanceDataCd(廃止：DBによる設定管理に変更済み)
ATTENDANCEDATACD_ATTENDANCE: 1
ATTENDANCEDATACD_LATE: 2
ATTENDANCEDATACD_ABSENT: 3
#ミリ秒換算用の数値(戻し完了)
CONVERSION: 60000
#収集時間のデフォルト(分)(戻し完了)
DEFAULT_PERIOD: 15
#####出席#####

#文字数制限(戻し完了)
SPECIFICPAGECOUNT: 15


#####テスト、レポート、アンケート#####
#(戻し完了)
MAXSELECTCOUNTOFCOMPOUND: 10
ADDSELECTCOUNTOFCOMPOUND: 5
#テスト構成フラグ(戻し完了)
QUESTIONCOMPOSITIONCD_NOTHING: 0
QUESTIONCOMPOSITIONCD_MULTIPLEONLY: 1
QUESTIONCOMPOSITIONCD_ESSAYONLY: 2
QUESTIONCOMPOSITIONCD_COMPOUND: 3

#エディタ作成資料拡張子
EDITORCREATED_FILE_EXTENSION: .html

#名列番号を切り取るための開始位置と終わり位置(ユーザが編集する定数に置き換え済み)
NAMENOPREFIX_STARTNO: 0
NAMENOPREFIX_ENDNO: 13

# DB数値登録最小値
DEFAULT_ARGUMENT_INT: -2147483648

## rails appsのpublic配下に作成するディレクトリ
## アップロードディレクトリ（ユーザ画像やコース資料、提出物等が配置されるベースディレクトリ）
UPLOAD_DIR: 'uploads'
DOWNLOAD_DIR: 'download'
## マニュアル配置ディレクトリ
MANUAL_DIR: 'system/manuals'
## 一括登録CSVファイルアップロードディレクトリ
CSV_DIR: 'csv'

############################################################
#####                ユーザが編集する定数              #####
############################################################
#OpenCEAS indexページ アドレス
#備考：メールなどにリンクとして記載される
CUSTOM_CEASLOGINLINK: "https://openceas.example.co.jp"

#メールサーバホスト
#備考：メール機能を使う時は必要
CUSTOM_SMTPHOST: smtp.example.co.jp

#出席送信許可IP
#備考：5つまで設定可->制限なし
CUSTOM_ATTENDANCEIP0: "172.*.*.*"
CUSTOM_ATTENDANCEIP1:
CUSTOM_ATTENDANCEIP2:
CUSTOM_ATTENDANCEIP3:
CUSTOM_ATTENDANCEIP4:
#不正アクセス対策1 一定時間(分)内に同一アカウントが一定回数以上のログインに失敗した時
#FLG1     0…無効、1…有効
#TIME1    一定時間(分)
#COUNT1   同一アカウントのログイン失敗回数(回)
CUSTOM_ILLEGALACCESSFLG1: 0
CUSTOM_ILLEGALACCESSTIME1: 10
CUSTOM_ILLEGALACCESSCOUNT1: 10

#不正アクセス対策2 一定時間(分)内に同一IPアドレスから一定回数以上ログインがあった時
#FLG2     0…無効、1…有効
#TIME2    一定時間(分)
#COUNT2   同一IPのログイン回数(回)
#PERIOD2  アクセスを拒否する時間(分)
CUSTOM_ILLEGALACCESSFLG2: 0
CUSTOM_ILLEGALACCESSTIME2: 10
CUSTOM_ILLEGALACCESSCOUNT2: 10
CUSTOM_ILLEGALACCESSPERIOD2: 720

#名列番号を切り取って表示するための開始位置と終了位置
#ex.)NAMENOPREFIXSTARTNO: 0,NAMENOPREFIXENDNO: 13
#    「01234567890123シス00-01関大太郎」→「シス00-01関大太郎」と表示される
#備考：使わない場合はどちらも 0 にすること
CUSTOM_NAMENOPREFIXSTARTNO: 0
CUSTOM_NAMENOPREFIXENDNO: 13

######################################
##これ以降は必要があれば変更すること##
######################################
#科目に設定する授業回数の最大値(回)
#備考：デフォルト値は 50
CUSTOM_MAXCLASSSESSIONCOUNT: 50

#科目に設定するグループフォルダ数の最大値(回)
#備考：デフォルト値は 50
CUSTOM_MAXGROUPFOLDERCOUNT: 150

#お知らせ等の「new」の表示期間(ミリ秒)
#ex.)3日間＝3*24*60*60*1000: 259200000(ミリ秒)
CUSTOM_NEWCHECKTIME: 259200000

#レポートフィードバック使用時の最大提出可能枚数
#備考：デフォルト値は 30
CUSTOM_MAXIMUMREPORTCOUNT: 30

#学期設定
#TERM1:前期（春学期）、TERM2:後期（秋学期）
TERM1_START: "04/01"
TERM1_END: "09/19"
TERM2_START: "09/20"
TERM2_END: "03/31"
#TAアカウント開始文字
TA_ACCOUNT: "ta"
#非常勤講師アカウント開始文字
PARTTIME_ACCOUNT: "p"

#OpenCEAS顔写真モジュール　追加
#顔写真のアイコン，表示画像のサイズ
CUSTOM_ICONIMAGE: 20
CUSTOM_SUMBNAILIMAGE: 85
CUSTOM_EXPRESSIONIMAGE: 300

#OpenCEASメール送信ユーザ
CUSTOM_MAIL_SENDER: "sender@example.co.jp"

#Ai botスコア閾値
SCORE_THRESHOLD: 50
#サポート管理詳細１ページ件数
SCORE_LIST_PER_PAGE: 10

#AI bot (yes / no)
USEAGE_AI_BOT: "no"

#CAS認証(true/false)
CAS_AUTHENTICATION: false

#メール未設定ユーザへの設定画面(true/false)
REMIND_MAIL_ADDRESS_BLANK: true

#TOP PAGE Header
#レポート確認(true/false)
HEADER_REPORT: true
#公開科目一覧(true/false)
HEADER_OPEN_COURSE: true
#操作マニュアル(true/false)
HEADER_MANUAL: true
#個人情報変更(true/false)
HEADER_USER_PROFILE: true

#イメージ画像(true/false)
USER_IMAGE_PICTURE: true

#学生画面
STUDENT:
  #ヘッダー
  HEADER:
    #学生(true/false)
    SHOW_STUDENT_IN_TITLE: true
  #リスト表示
  LIST_VIEW:
    #時間割(true/false)
    SHOW_TIMETABLE: true
    #テスト実施画面(true/false)
    SHOW_EXAM: true
  #授業画面
  CLASS_SESSION:
    #科目詳細(true/false)
    SHOW_COURSE_DETAIL: true
    #出席(true/false)
    SHOW_ATTENDANCE: true

#Application Settings
#Name
APPLICATION_NAME: "Open CEAS"
#Version
APPLICATION_VERSION: "1.5.1"
